body{
  margin: 0%;
  padding: 0%;
  background-color:#ffffff;
}
.wraper{
  width: 40%;
  margin: 0 auto;
  background-color:#D3D3D3;
}
header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/raw/Girls-Listen-Music_0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:50vh;
  border-bottom: 10px solid #66faee;
  color: #ffffff;
}
header a
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.artists_list{
  box-sizing: border-box;
  padding: 10px 30px;
}

.artists_list .artist_item{
  display: block;
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom:20px;
  position: relative;
}
.artists_list .artist_item div{
  background:  #2196f3;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.artists_list h4{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0;
}
.artist_bio {
  box-sizing: border-box;
  padding: 10px 30px;
}
.artist_bio .pic span {
  width: 133px;
  height: 133px;
  display: block;
  margin: 0 auto;
  background-size: cover;
}
.artist_bio h3 {
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.artist_bio .bio_text {
  font-weight: 100;
  font-size: 18px;
}
.albums_list {
  margin: 20px;
}
.albums_list:after {
  clear: both;
  display: table;
  content: ''
}
.albums_list img {
  float: left;
  width: 50%;
}
@media screen and (max-width: 600px){
  .wraper{
    width: 100%;
  }
}